<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">PRODUCT1</h2>
          </svg><svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
    </header>
    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus soluta illum quaerat ut repudiandae explicabo quibusdam nihil aperiam natus minima?
    </div>
  </div>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">PRODUCT2</h2>
          </svg><svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
    </header>
    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus soluta illum quaerat ut repudiandae explicabo quibusdam nihil aperiam natus minima?
    </div>
  </div>
  <script src="js/main.js"></script>